p{
  text-align: center;
  font-size:300%;
  font-family: system-ui;
  color: black;

}
h2{
  text-align: center;
  color: gray;
  font-family: system-ui;
  font-size: 200%;

}
h3{
  text-align: center;
  color: black;
  font-family: system-ui;
  font-size:  150%;


}
p1{
  text-align: center;
  color: black;
  font-family:system-ui;
  font-size: 100%

}
ul {
  text-align: center;
  list-style-position: inside;
  font-family: system-ui;
}
h4{
  text-align: center;
  font-family: system-ui;
  font-size: 150%;
  color: black
}
.typewriter h1 {
  text-align: center;
  font-size: 350%;
  color: #000;
  font-family: system-ui;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}
